global !p
def math():
	return vim.eval('vimtex#syntax#in_mathzone()') == '1'

def comment(): 
	return vim.eval('vimtex#syntax#in_comment()') == '1'

def env(name):
	[x,y] = vim.eval("vimtex#env#is_inside('" + name + "')") 
	return x != '0' and y != '0'

endglobal

context "math()"
snippet `(\S*?)ket` "ket" riA
\ket{`!p snip.rv = match.group(1).replace('p', '\\phi').replace('q', '\\psi').replace('P', '\\Phi').replace('Q', '\\Psi')`} $0
endsnippet

context "math()"
snippet `(\S*?)bra` "ket" riA
\bra{`!p snip.rv = match.group(1).replace('p', '\\phi').replace('q', '\\psi').replace('P', '\\Phi').replace('Q', '\\Psi')`} $0
endsnippet

context "math()"
snippet idd "identity matrix" iA
\mathbbm{1}
endsnippet

context "math()"
snippet bkt "braket" iA
\braket{$1}{$2} $0
endsnippet

context "math()"
snippet "\<(.*?)\|" "bra" riA
\bra{`!p snip.rv = match.group(1).replace('P', '\\phi').replace('q', '\\psi').replace('P', '\\Phi').replace('Q', '\\Psi')`}
endsnippet

context "math()"
snippet "\|(.*?)\>" "ket" riA
\ket{`!p snip.rv = match.group(1).replace('p', '\\phi').replace('q', '\\psi').replace('P', '\\Phi').replace('Q', '\\Psi')`} $0
endsnippet

context "math()"
snippet "\\bra{(.*?)}([^\|]*?)\>" "braket" riA
\braket{`!p snip.rv = match.group(1)`}{`!p snip.rv = match.group(2).replace('p', '\\phi').replace('q', '\\psi').replace('P', '\\Phi').replace('Q', '\\Psi')`} $0
endsnippet

context "math()"
snippet dag "dagger" iA
^\dagger
endsnippet
